@{
    //Layout = null;
    ViewBag.Title = "Base AngularJS BS4";
}

<div ng-view=""></div>

@section scripts {

    <script src="~/Scripts/AngularJS-1.3.20/angular.js"></script>
    <script src="~/Scripts/AngularJS-1.3.20/angular-route.js"></script>
    <script src="~/Client/app.js"></script>

}